.center-h {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.center-h > * {
  grid-column-start: 2;
}

/* .headed-card {
  display: flex;
  flex-direction: column;
  background: yellow;
  justify-content: center;
}

.headed-card > * {
  background: green;
}

.headed-card > .header {
  background: red;
  text-align: center;
} */

.stack-h {
  display: flex;
  flex-direction: row;
}

.form {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgrey;
  padding: 10px;
  margin: 20px;
}

.form > .form-center {
  grid-column: 2 / 4;
  justify-self: center;
}

.form > .form-right {
  grid-column: 2 / 4;
  justify-self: right;
}

.form > .form-left {
  grid-column: 2 / 4;
  justify-self: left;
}

.form > label {
  grid-column-start: 2;
  text-align: right;
}
.form > .form-label {
  grid-column: 2;
  text-align: right;
}

.form > input {
  grid-column-start: 3;
}

.form > .form-input {
  grid-column: 3;
}

.form > * {
  margin: 10px;
}
